<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <title>SpringBoot Security</title>
</head>

<body>
<h2> 안녕하세요. 스프링 부트 보안 사이트에 오신 것을 환영합니다 </h2>

<div sec:authorize="isAuthenticated()">
    <p>환영합니다! <span sec:authentication="principal.username">User</span></p>
    <!-- <p><a th:href="@{/logout}">Logout</a></p>-->
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="LogOut"/>
    </form>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <p><a th:href="@{/admin/home}">관리자 페이지로 이동</a></p>
    </div>

    <p><a th:href="@{/products}">상품 조회 페이지로 이동</a></p>
</div>

<div sec:authorize="isAnonymous()">
    <p><a th:href="@{/login}">LogIn</a></p>
    <p><a th:href="@{/signup}">SignUp</a></p>
</div>

</body>
</html>